             /*1203px*/
@media screen and (max-width: 1225px){
    #hebergement{
        flex-flow: wrap;
    }
    .hebergement{
        order: 2;
        width: 100%;
        margin: 0;
    }
    .populaire{
        order: 1;
        width: 100%;
        flex-flow: row wrap;
        height:500px ;
        margin-bottom: 20px;
    }
    .populaire .ann-heb{
        width: 30%;
        height:68%;
        display: flex;
        flex-flow: column;
    }
    .populaire .ann-heb img{
        width: 100%;
        height: 60%;
        border-radius: 30px 30px 0 0;
    }
    
}
@media screen and  (max-width: 960px){  
    
    

    nav{
        padding: 0;
    }
    
    nav a.nav{
        flex: 1;
        min-width: 120px;
    }
            /* recherche */
    .champ-recherche{
        width: 70%;
    }
    .filtres{
        width: 70%;
        flex-flow: column;
        align-items: flex-start;

    }
    .name-filtres{
    width: 100%; 
    }
            /* hebergement */
    #hebergement .hebergement{
        max-height:none;
        height: 750px;
    }
    #hebergement .ann-heb .description{
        margin:  0 0 0 10px;
    }
    .hebergement .ann-heb{
        width: 46%;
        height: 25%;
    }
    
            /* activite */
    #activite{
        height: 1000px;
        margin-bottom: 100px;
    }
    .lien-act{
        flex-flow: row wrap;  
        height: 950px;
    }
    .lien-act a.ann-act {
        display: flex;
        flex-flow: column;
        width: 45%;
        height: 24%;
        margin: 10px 0 10px 0;
        align-items: center;
    }
    a.ann-act:first-child,a.ann-act:nth-child(4){
        width: 100%;
    }
    a.ann-act:first-child img,a.ann-act:nth-child(4) img {
        height: 78%;
    }
}
@media screen and  (max-width: 941px){
    nav .logo{
        margin: 0 0 0 20px;
    }
    nav a.nav {
        height: 72px;
    }
    nav a.nav:hover{
        border: none;   
    }
    .nav:first-child ,.nav:nth-child(2),.nav:nth-child(3){
        order: +1;
        flex: 2;
        min-width:200px ;
    }
    .nav:nth-child(2),.nav:nth-child(3){
        border-bottom: solid 5px #f2f2f2;
        padding-bottom: 20px;
        min-width: 50%;
    }
    .nav:nth-child(2):hover,.nav:nth-child(3):hover{
        border-bottom: solid 5px #0065FC;
    }
            /* main */
    .recherche{
        padding-top: 20px;
    }
    .recherche .prez h1, .recherche .prez p{
        margin: 10px 0 25px 0;
    }
    .recherche .nb-log{
        margin: 10px 10px 10px 0;
    }

}
            /* 768px*/
@media screen and  (max-width: 768px){
            /* header */

            /* main */
    main{
        padding: 0;
    }
            /* recherche */
    .recherche{
        padding: 10px 0 0 20px;
        margin: 0 0 20px 0;
    }
    .champ-recherche{
        width: 90%;
        margin: auto;
    }
    .filtres{
        width: 100%;
    
    }
    .name-filtres{
        width: 100%;
        
    }
            /* hebergement */
    #hebergement{
        flex-flow: wrap;
    }
    .hebergement{
        order: 2;
        width: 100%;
    }
    .populaire{
        width: 100%;
        height: 400px;
    }
    #activite{
        padding: 30px;
    }

}
@media screen and  (max-width: 615px){
    .populaire .ann-heb{
        height:75%;
    }
}
            /* 576px*/
@media screen and  (max-width: 576px){
            /* main */
            /* recherche */
    .champ-recherche img{
        width: 20px;
    }
    .champ-recherche .picto-map{
        flex: 0.5;
    }
    .champ-recherche .ville{
        flex: 3;
    }
    .champ-recherche .btn{
        flex: 0.5;
    }
    .btn button {
        display: block;
    }
    .btn input{
        display: none;
    }
            /* hebergement */
        section.populaire{
        border-radius: unset;
    }
    #hebergement .hebergement{
        max-height: none;
        height: 1800px;
        margin: 0;
        background: #fff;
    }
    .hebergement .ann-heb{
        width: 100%;
        height: 14%;
    }
    .hebergement .ann-heb img{
        height: 60%;
    }
    .populaire{
        height: 1000px;
        flex-flow: column;
    }
    .populaire .ann-heb{
        width: auto;
        height: 29%;
    }
            /* activite */
    #activite{
        height: 1700px;
        padding: 30px;
    }
    .lien-act{
        height: 1600px;
    }
    .lien-act a.ann-act{
        width: 100%;
        height: 16%;
        align-items: flex-start;
    }
    .lien-act a.ann-act img{
        height: 70%;
    }
            /* footer */
    .footer-info{
        width: 100%;
    }
}   
@media screen and  (max-width: 425px){
    #hebergement .hebergement , .populaire{
        padding: 10px;
    }
    .hebergement .ann-heb{
        height: 14%;
    }
    .populaire{
        height: 869px;
        padding-bottom: 19px;
    }
    #activite{
        padding: 10px;
    }
}
            /* 376px */
@media screen and  (max-width: 376px){
    .nav:first-child,.nav:nth-child(2),.nav:nth-child(3){
        min-width: 12%;}
    nav .logo{
            width: 59%;
        }
}
@media screen and  (max-width: 359px){
    .nav:first-child{
        width: 100%;
    }
    nav .logo{
        width: 50%;
    }
}