@font-face{
    font-family: "Raleway";
    src: url(../font/static/Raleway-Regular.ttf);
}
body{
    font-family: "Raleway";
    margin: 0;
    font-size: 1em;
    padding-right: 70px;
    padding-left: 50px;
}
a{
    text-decoration: none;
    color: black;
}
/* header */
nav{    
    height:120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 120px;
}
nav div{
    display: inline-flex;
}
.encre a{
     padding: 15px;
}
.encre a:hover{
    border-top: solid 2px #0065FC ;
    color: #0065FC;
}
/*main*/
main{
    margin: auto;
    max-width: 1440PX;
    display: flex;
    flex-flow: wrap;
  
}
section{
    margin-bottom: 2.8%;
}
/* #recherche */
.prez h1{
    margin-bottom: 5px;
}
.champ-recherche{
    width:600px;
    display: inline-flex;
   
}
.champ-recherche .picto-map{
    flex: 0.4;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.champ-recherche img{
    width: 12px;
}
.champ-recherche .ville{
    flex: 2;
}
.ville input{
    border: 1px solid  #F2F2F2 ;
    height:50px;
    width: 100%;
    padding-left: 30px;
    font-size: 1em;
}
.ville input:focus{
outline: solid #d6d4d4;
}
.champ-recherche .btn{
    margin-left: 36px;
flex: 1;
}

.btn input{
    background:#0065FC;
    color: #fff;
    border: none;
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
            /*filtres */
.filtres{
    display: inline-flex; 
    align-items: center;
    margin-top: 20px;
    width: 80%;
}
.filtres .name-filtres{
    width: 100%;
    display: flex; 
    flex-flow: wrap;
    align-items:center ;
}
.filtres a.type-filtre{   
    margin: 10px;
    height: auto;
    border:1px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtres img{
    padding:25px ;
    border-radius: 50px;
    background: #DEEBFF;
    height: 1.2em;
    color:#0065fc ;
}
a.type-filtre:hover{
    background-color: #DEEBFF;
}
a.type-filtre:hover img{
    background: #FFF;
}
.filtres strong{
    padding: 20px;
}
/* info nb logements */
.nb-log{

    margin-left: 0px;
    display: inline-flex;
    align-items: center;
}
.nb-log img{
    background: none;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    height:15px;
    border:solid  #F2F2F2 ;
    border-radius: 20px;
}
/* #hebergement */
#hebergement{

    display: inline-flex;
    justify-content: space-between;
    
}
#hebergement .hebergement,.populaire{
    height:600px ;
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 30px;
}
#hebergement .ann-heb{
    padding: 5px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 3px 9px 6px #dedede;
}

#hebergement .ann-heb .description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 15px 5px 20px;
}
.description h4,p{
    margin: 5px 0px 5px 0px;
    justify-self:flex-start;
}
/* .hebergement */
.hebergement{
    margin-right: 40px;
    width: 65%;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content:flex-start;
    margin-bottom: 20px;
}
.titre{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.hebergement .ann-heb{
    margin-bottom: 20px;
    width: 30%;
    height: 35%;
    
}
.hebergement .ann-heb img{
    width: 100%;
   height: 50%;
    object-fit:cover;
    object-position: center;
    border-radius: 30px 30px 0 0;
}
        /* .populaires */
.populaire{
    width: 35%;
    display:flex;
    flex-flow:column;
   justify-content: space-between;

}
.populaire .ann-heb{
    margin: 0 0 10px 0;
    height: 25%;
    display: inline-flex;
}
.populaire .ann-heb img{
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
}
.populaire .stat{
    width: 30px;
    height: 30px;
}
#hebergement .ann-heb .description .star-b{
    align-self: baseline;
}
#hebergement .ann-heb .description .star-b img{
    width: 1.3em;
    height: 1.3em;
}
    /* #activité */
#activite{
    width: 100%
}
.lien-act{
    height: 600Px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-between;
}
.lien-act a{
    box-shadow: 0px 3px 9px 6px #dedede;
    border-radius: 30px;
    width: 21%;
    height: 42%;
}
.lien-act a img{
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position:center;
   
}
a.ann-act:first-child,a.ann-act:nth-child(4){
    height: 100%;
}
a.ann-act:first-child img,a.ann-act:nth-child(4) img{
    height: 90%;
}
.descript-act{
    margin-left: 20px;
}
